h1
    font-weight: 700
    font-size: 2em
    padding: 10px 0px

h2
    font-weight: 500
    font-size: 1.6em
    letter-spacing: -0.1em
    padding: 10px 0px 0px 0px


h3
    font-weight: 500
    font-size: 1.0em

h4
    font-weight: 300
    font-size: 0.8em


$links: #3f3fc6
$links-hover: #3f3fc6

=ease($time)
    transition: $time ease

.about_container
    margin: 20px 0px 100px 0px

.about_body
    max-width: 650px
    font-weight: 500
    font-size: 1.4em
    padding-left: 0em
    letter-spacing: -0.01em
    line-height: 1.8em

    .email_text
        font-weight: 500
        font-size: 0.8em
        a
            font-size: 0.8em
            font-weight: 500
            +ease(0.09s)
            &:hover
                font-weight: 600
                border-bottom: 3px solid $links
            float: right
            margin: 10px 0px

        .email
            font-weight: 700
            background-color: #f2f2f2
            padding: 5px

    a
        color: $links
        text-decoration: none
        border-bottom: 3px solid $links
        +ease(0.09s)
        font-weight: 700
        &:hover
            font-weight: 800
            color: $links-hover
            border-bottom: 4.5px solid $links
            font-style: none
            +ease(0.09s)
        &:active
            opacity: 0.8
