@import "../../main.sass"

.home_container
    width: 100%
    padding: 50px 0px

.label_container
    float: right
    text-align: right
    line-height: 1.4em
    font-size: 1.5em
    vertical-align: middle
    padding: 100px 0px 100px
    label
        font-size: 1.5em
        font-weight: 700
        color: $black

.lattice_container
    display: block
    padding: 30px 0px 0px 0px
    float: left


button
    outline: 1px solid black

button:active
    opacity: 0.5
