@import "../../../main.sass"

.lattice
    display: table
    border-width: 1.5px
    border-color: #444
    border-style: solid
.row
    display: table-row


.cell
    display: table-cell
    border-width: 0.5px
    border-color: #444
    border-style: solid
    background-color: #70a8ff
    span
        display: block
        width: 15px
        height: 15px

.state0
    background-color: #70a8ff

.state1
    background-color: #afe6bf

.state2
    background-color: #555

.state3
    background-color: #ee7d7d
    // afe6bf

.pause_button
    opacity: 0.1
    font-size: 0.7em

.pause_button:hover
    opacity: 0.5

.pause_button:active
    opacity: 0.7
